 # mysql/conf/my.cnf
 [mysqld]
 # 默认存储引擎
 default-storage-engine=INNODB
 # 字符集
 character-set-server=utf8
 # 端口与docker-compose里映射端口保持一致
 port            = 3306
 # 容器内运行不需要写监听ip地址
 #bind-address= localhost
 #Mysql程序路径
 basedir         = /usr
 #数据目录
 datadir         = /var/lib/mysql
 #临时表存放路径
 tmpdir          = /tmp
 # pid
 pid-file        = /var/run/mysqld/mysqld.pid
 socket          = /var/run/mysqld/mysqld.sock
 skip-name-resolve  # 这个参数是禁止域名解析的，远程访问推荐开启skip_name_resolve。
 
 [client]
 port = 3306
 default-character-set=utf8
 
 [mysql]
 # 自动补全功能
 no-auto-rehash
 # 字符集
 default-character-set=utf8